<%# if @user == admin_flg.true? %>
<div class="container" >
	<div class="row">
		<div class="col-md-12">
				<h2>ユーザー一覧</h2>

				<% @users.each do |user| %>
					<div class="row">
						<div class="col-md-6">
							<table class="table">
							<tbody>
								<tr>
									<th><%= attachment_image_tag @user, :profile_image, :fill, 85, 85, class: "profile-thumb", fallback: "blank-profile-picture-973460_960_720.png", size: '85x85' %><br><br></th>
								</tr><br>
								<tr>
									<th><<%= link_to user.name,(user_path) %></th>
								</tr><br>
								<tr>
									<th><%= link_to "編集する", user_path(@user) %></th>
								</tr><br>
								<tr>
									<th><%= link_to "退会する", user_path(@user), method: :delete, class:'btn btn-danger' %></th>
								</tr>
							</tbody>
							</table>
						</div>
					</div>
				<% end %>
		</div>
	</div>
</div>