<div class="notice">
	<h1>本当に退会してしまってもよろしいですか？</h1>
</div>
<div class="notify">
	<p>退会した場合、全てのユーザー情報と投稿したデータは失われます。左記の事項に同意し、下記の”退会する”リンクをクリックしていただくと、退会が成立します。</p>
</div><br><br>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= link_to "退会する", user_path(@user), method: :delete, class:'btn btn-danger col-md-6 col-md-offset-3' %>
			<%= link_to "退会を中止する", user_path(current_user.id), class:'btn btn-success col-md-6 col-md-offset-3' %>
		</div>
	</div>
</div><br><br><br><br>