<h1>about</h1>
<div class="about-caption">
	<span class="about-body">
		ようこそ当サイトへ！このページでは、当サイトのコンセプトと利用規約を紹介しておりますので、投稿の前にご一読ください。
	</span><br><br><br><br><br><br><br><br>
	<span class="about-body-2">
		当サイトは、「存在しない本のレビュー」を投稿するサイトとなっております。,<br>存在しない本とは何か、ということについては読んで字のごとく、利用者様の頭の中にしか存在しない、不世出の本ということです。<br>
		利用者様が日常を送る中で、頭の中に浮かんだ素敵なワンシーンは、もしかしたら存在しない本の一ページかもしれません。<br>
		だからこそ、そのような素敵なワンシーンを記した架空の本に利用者様がレビューを行う、という一種の大喜利大会が当サイトのコンセプトとなっております。
	</span>,<br><br><br><br><br><br><br>
	<span class="about-body-3">
		また、皆様の頭の中に浮かんだアイデアを一つの作品にするのが難しい、という時に、こういうシーンを書きたかった、という備忘録や、ネタを何らかの形に残すことで供養する空間としても活用していただけるかと思います。<br>
		そのため、実在する本やインターネット小説などの著作物に関するレビューは固くお断りさせて頂きます。　
		尚、当サイトに投稿されたレビューのアイディアなどは投稿した方に帰属するため、剽窃や無断転載などは禁止となっております。
	</span><br><br><br><br><br><br><br>
	<span class="about-body-4">
		前置きが長くなってしまいましたが、上記の事項をご理解、遵守の上、当サイトをご利用いただければ幸いです。
	</span><br><br><br><br><br><br><br>
</div>